<br>
<div class="PageTitle">
	Bulk Back Loads - About
</div>
<br>
<br>
<center style="font-size:16px;font-weight:bold;">
	Frustrated with constant struggles to find cheap/reliable transport within <br>
	The Bulk Grain's Transport Business, Bulk Back Loads is the brain child of <Br>
	'Chris Groat' and 'Dan Hannon'<br>
	<br>
	The system is designed to increase Utilisation of Australian trucks on <br>
	return journey's (AKA Back Loads), and has been implemented with <br>
	a simple interface. This allowing users to quickly and easily get started <br>
	while encouraging small producers to use it as an alternative contact <br>
	source for Transaportation of goods.
</center>
<br>
<br>
<br>
<br>