.data_imput_row {
	width: 600px;
	overflow: hidden;
	padding: 0.2em;
	min-height:1.7em;
	height:auto !important;
	height:1.7em;
}

.data_input_field {
	float: left;
	width: 250px;
	padding: 0 20px 0 0;
	text-align: right;
	color: #3F3F1B;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 14px;
}

.data_input_data {
	float: left;
	width: 330px;
	font-weight: bold;
	font-size: 14px;
}

.data_input_header, .data_input_buttons {
	float: left;
	width: 330px;
	padding: 0 0 0 270px;
}

.data_input_header {
	/* text-align: right;
	/* color: #3F3F1B;*/
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
}

.data_input_table_header {
	width: 600px;
	overflow: hidden;
	min-height:1.4em;
	height:auto !important;
	height:1.4em;

	text-align: center;
	color: #3F3F1B;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 14px;
}

.data_input_table_row, .data_input_table_selected {
	width: 600px;
	overflow: hidden;
	min-height:1.7em;
	height:auto !important;
	height:1.7em;

	font-size: 12px;
}

.data_input_table_selected {
	background: #8fADBF;
}

.data_input_table_row:hover {
	background: #8C7735;
}

.data_col_journey {
	float: left;
	width: 200px;
	padding: 1px 1px 1px 2px;
}

.data_col_date {
	float: left;
	width: 100px;
	text-align: center;
	padding: 1px;
}

.data_col_details {
	float: left;
	width: 290px;
	text-align: left;
	padding: 1px 2px 1px 1px;
}

.user_notice {
	width: 800px;
	border: #3F3F1B solid 2px;
	padding: 5px;
	background: #8fADBF;
	margin: auto;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.container {
	overflow:hidden;
}

.left_container {
	float: left;
	width: 600px;
}

.right_container {
	float: right;
	width: 600px;
}

/* special case stuff
 */

 /* Red X to indicate delete of User record in create screen #errorContainer */
a.del_user,a:visited.del_user,a:hover.del_user {
 	color: red;
	font-weight: bolder;
	font-size: 14px;
	text-align: right;
 }

/* *
 * Google serach result stuff
 */
.google_error {
	display: inline;
	height: 30px;
	background:url(/images/cross.gif);
	background-repeat: no-repeat;
}

.google_found {
	display: inline;
	height: 30px;
	background:url(/images/tick.gif);
	background-repeat: no-repeat;
}

#map {
	border: black solid 2px;
	width: 450px;height: 350px;
}
#map_shadow {
	position: absolute; 
	left: 20px; 
	top: 20px;
    width: 450px; 
	height: 350px; 
	background-color: black;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=25)';
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -moz-opacity:0.25; 
	opacity: 0.25; "}
