/* color scheme
 * 1: #4B72A6 - dark blue
 * 2: #8fADBF - light blue
 * 3: #3F3F1B - dark green
 * 4: #8C7735 - light green
 * 5: #D9BA82 - cream
 * 
 * */
 
.PageTitle {
	color: #4B72A6;
	width: 100%;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding: 0 0 0.5em 0;
}

body {
	text-align:center;
	/*margin-left:auto;
	margin-right:auto;*/
	background: #3F3F1B;
	margin: 0;
	padding: 0;
}

#body_container{
	margin: 0 auto 0 auto;
	padding: 5px 10px 10px 10px;
	text-align:left;
	width:1210px;
	background: #D9BA82;
}

.row_group {
	overflow: hidden;
}

.left_elem {float: left; width: 400px;} 
.mid_elem {
	float: left; 
	width: 400px;
	text-align: center;
} 
.right_elem {
	float: left; 
	width: 400px;
	text-align: right;
}

#user_bar {
	font-weight: bold;
}

#user_bar A:hover {
	background: transparent;
}

#user_bar .holder {
	margin: 10px 0 0 0;
	font-weight: bold;
	width:350px;
	float:right;
/*	width: 10em;*/
}	

#user_bar .has_filter {
	background: #cecece;
	border: 1px solid black;
}

#user_bar input[type=text],#user_bar input[type=password] {
	font-size: 10px;
	height: 0.9em;
	width:180px;
}

#ft {
	padding: 0em 0.5em 1em 0.5em;
	margin-top: 1em;
	font-size: 80%;
}
#footnotes_holder { color:#ccc;}
.left {
	float:left;
}
.copyright {
	float:right;
}

a {
	text-decoration: none;
	color: #4B72A6;
}
a:visited {
	color: #4B72A6;
}
a:hover {
	background: transparent;
	color:white;
}